<link rel="stylesheet" href="/css/shareAgendaWindow.css">
<div id="importAgendaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="importAgenda-close-btn">&times;</span>
        <h2>Importer un agenda</h2>

        <label for="file-import">Format : *</label>
        <input type="file" id="file-import" accept=".json,.ics" required>
        <p id="file-error" class="error">Erreur fichier importé.</p>


        <button id="importAgendaConfirm" class="submit-btn">Importer</button>

    </div>
</div>
<script type="module" src="/js/agenda/agendaImport.js"></script>
