<% /* global locals, agendas, guestsShared */ %>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-btn">&times;</span>
        <h2>Ajouter un événement</h2>
        <form>
            <label for="event-name">Nom de l'événement : <span class="requis">*</span></label>
            <input type="text" id="event-name" name="event-name" required>
            <p id="name-error" style="color: red; display: none;">Le nom de l'événement est obligatoire.</p>

            <label for="event-date">Date de début : <span class="requis">*</span></label>
            <input type="datetime-local" id="event-date" name="event-date" required>

            <div style="display: flex; align-items: center;">
                <label for="event-all-day">Toute la journée : </label>
                <input type="checkbox" id="event-all-day" name="event-all-day" style="margin-top: 12px; margin-left: 5px;">
            </div>

            <div style="display: flex; align-items: center;">
                <label for="event-recurrence">Se répète :</label>
                <select name="event-recurrence" id="event-recurrence" style="margin-top: 12px; margin-left: 5px; width:200px;">
                    <option value="4" selected>Jamais</option>
                    <option value="0">Tous les jours</option>
                    <option value="1">Toutes les semaines</option>
                    <option value="2">Tous les mois</option>
                    <option value="3">Tous les ans</option>
                    <option value="5">Custom</option>
                </select>
            </div>

            <div id="show-recurrence-options" style="display: none; align-items: center;">
                <label for="event-recurrence-custom">Répéter tous les :</label><input type="number" id="event-recurrence-interval" name="event-recurrence-interval" style="margin-top: 12px; margin-left: 5px; width:50px;" min="1" max="30" value="2">
                <select name="event-recurrence-custom" id="event-recurrence-custom" style="margin-top: 12px; margin-left: 5px; width:200px;">
                    <option value="0" selected>Jours</option>
                    <option value="1">Semaines</option>
                    <option value="2">Mois</option>
                    <option value="3">Ans</option>
                </select>
            </div>

            <label for="event-date-end">Date de fin : <span class="requis">*</span></label>
            <input type="datetime-local" id="event-date-end" name="event-date" required>

            <p id="date-error" style="color: red; display: none;">La date de fin doit être supérieure à la date de début.</p>

            <label for="event-agenda">Agenda: <span class="requis">*</span></label>
            <select id="event-agenda" name="event-agenda" required>
                <option value="" selected disabled>---Veuillez choisir un agenda---</option>
                <% agendas.filter(agenda => agenda.ownerId === locals.user.id)
                .forEach(agenda => { %>
                    <option value="<%= agenda.agendaId %>"><%= agenda.name %></option>
                <% }) %>
                <% guestsShared.filter(guest => guest.role === "Editeur")
                .forEach(guest => { %>
                    <option value="<%= guest.agendaId %>"><%= guest.getAgenda().name %></option>
                <% }) %>
            </select>
            <p id="agenda-error" style="color: red; display: none;">Un agenda doit être sélectionné.</p>

            <label for="event-description">Description:</label>
            <textarea  id="event-description" name="event-description" rows = "3"></textarea>

            <button id="saveEvent" class="submit-btn">Enregistrer</button>
        </form>
    </div>
</div>
