<link rel="stylesheet" href="/css/shareAgendaWindow.css">
<div id="otherAgendaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="otherAgenda-close-btn">&times;</span>
        <h2>Autres agendas</h2>


        <div style="border-bottom: 1px solid #8e3838; margin-bottom: 30px;">
            <h4>Jours fériés locaux</h4>
            <ul style="  list-style: none;padding: 10px;margin: 0;">
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox">Jours fériés et autres fêtes en France</li>
            </ul>
        </div>

        <div style="border-bottom: 1px solid #8e3838; margin-bottom: 30px; ">
            <h4>Vacances scolaires</h4>
            <ul style="  list-style: none;padding: 10px;margin: 0;">
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox">Zone A</li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox">Zone B</li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox">Zone C</li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox">Zone Corse</li>
            </ul>
        </div>


    </div>
</div>
<script type="module" src="/js/agenda/agendaOther.js"></script>
