<link rel="stylesheet" href="/css/otherAgenda.css">
<div id="otherAgendaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="otherAgenda-close-btn">&times;</span>
        <h2>Autres agendas</h2>


        <div class="category">
            <h4>Jours fériés locaux</h4>
            <ul class="category-ul">
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox"><span class="span-category">Jours fériés et autres fêtes en France</span></li>
            </ul>
        </div>

        <div class="last-category">
            <h4>Vacances scolaires</h4>
            <ul class="category-ul">
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox"><span class="span-category">Zone A</span></li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox"><span class="span-category">Zone B</span></li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox"><span class="span-category">Zone C</span></li>
                <li><input type="checkbox" id="joursFeriesLocauxCheckBox"><span class="span-category">Zone Corse</span></li>
            </ul>
        </div>


    </div>
</div>
<script type="module" src="/js/agenda/agendaOther.js"></script>
