<div class="modal fade" id="confirmTransferAgenda" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 20vh !important;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="transferAgendaLabel">Transférer l'agenda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous transférer l'agenda à <strong><span id="recipientUsername"></span></strong> ?</p>
            </div>
            <div class="modal-footer">
                <button id="cancelTransferAgendaButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button id="confirmTransferAgendaButton" type="button" class="btn btn-primary" form="transferAgendaForm">Transférer</button>
            </div>
        </div>
    </div>
</div>
