<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/agenda.css">
</head>
<body>
    <% /* global locals,agendas */ %>
    <%- include('partials/header') %>
    <%- include('calendar') %>
    <%- include('partials/footer') %>
</body>
</html>
