
<link rel="stylesheet" href="/css/calendar.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>
<script type="module" src="/js/agenda/agenda.js"></script>

<!-- Modale pour les details de l'evenement -->
<%- include('partials/modals/eventDetails') %>

<!-- Modale pour modifier les informations de l'événement -->
<div id="eventModal" class="modal">
    <div class="modal-content">
        <span class="close close-btn">&times;</span>
        <h2>Modifier l'événement</h2>
        <label for="eventTitle">Titre : <span class="requis">*</span></label>
        <input type="text" id="eventTitle" class="input-field" <% if(cantEdit) {%> disabled <%}%> />

        <label for="eventDetails">Détails :</label>
        <textarea id="eventDetails" class="input-field" <% if(cantEdit) {%> disabled <%}%>></textarea>

        <label for="startEventTime">Date de début : <span class="requis">*</span></label>
        <input type="datetime-local" id="startEventTime" class="input-field" <% if(cantEdit) {%> disabled <%}%> />

        <div style="display: flex; align-items: center;">
            <label for="eventAllDay">Toute la journée :</label>
            <input type="checkbox" id="eventAllDay" style="margin-top: 12px; margin-left: 5px;" name="eventAllDay" <% if(cantEdit) {%> disabled <%}%> />
        </div>

        <div style="display: flex; align-items: center;">
            <label for="eventRecurrence">Se répète :</label>
            <select name="eventRecurrence" id="eventRecurrence" style="margin-top: 12px; margin-left: 5px; width:200px;" <% if(cantEdit) {%> disabled <%}%>>
                <option value="0">Une seule fois</option>
                <option value="1">Tous les jours</option>
                <option value="2">Toutes les semaines</option>
                <option value="3">Tous les mois</option>
                <option value="4">Tous les ans</option>
            </select>
        </div>

        <label for="endEventTime">Date de fin : <span class="requis">*</span></label>
        <input type="datetime-local" id="endEventTime" class="input-field" <% if(cantEdit) {%> disabled <%}%> />
        <label id="error-update-event" class="form-label text-danger"></label>

        <!-- Boutons pour enregistrer ou annuler -->
        <button id="updateEvent" <% if(cantEdit) {%> hidden <%}%>>Enregistrer les modifications</button>
        <button id="deleteEvent" <% if(cantEdit) {%> hidden <%}%>>Supprimer l'événement</button>
    </div>
</div>

<%- include('partials/modals/newEvent') %>

<!-- Met l'agendaId dans les data -->
<%- include('partials/slidingPanel') %>

