<!DOCTYPE html>
<html lang="fr">
<head>
  <title>KiAvenir - Connexion</title>
</head>
<body>
    <% /* global locals */ %>
    <%- include('partials/header') %>

    <div class="container d-flex justify-content-center align-items-center h-75">
        <div class="card shadow-lg" style="width: 600px;">
            <div class="card-body">
                <h2 class="text-center mb-4 fw-bold">Mots de passe oublié</h2>
                <form name="accountForgetPassword" action="/account/forget-password" method="POST">
                    <div class="row">
                        <label for="email" class="col-md-5 col-form-label text-md-end text-start ">Adresse email</label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" name="email" id="email" value="<%= locals.email ?? '' %>" placeholder="Adresse email" required>
                            <label class="form-label text-danger"><%= locals.errorMessage ?? '' %></label>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary fw-bold">Envoyer</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p class="mb-0">Retour ? <a href="/login">Se connecter</a></p>
                    <p class="mb-0">Nouveau ? <a href="/signin">Créer un compte</a></p>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/account/forget-password.js"></script>

    <%- include('partials/footer') %>
</body>

</html>
