<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>KiAvenir</title>
</head>
<body>
<h1>KiAvenir</h1>
<h2>Gérer en ligne son agenda</h2>
<h3><a href="/agenda">Agenda</a></h3>
<h3><a href="/signin">Connexion</a></h3>
</body>
</html>
