<!DOCTYPE html>
<head>
  <title>KiAvenir - Accueil</title>
</head>

    <%- include('partials/header') %>

    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 25%; flex-direction: column;">
      <h1 class="text-center fw-bold text-primary">Page d'accueil</h1>
      <h4 class="text-center mt-4">N'hésitez pas à visiter les autres pages de notre magnifique site de gestion d'agendas.</h4>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>