<!DOCTYPE html>
<head>
  <title>KiAvenir - Accueil</title>
</head>

    <%- include('partials/header') %>

    <h1 class="text-center">Page d'accueil</h1>
    
    <%- include('partials/footer') %>
</body>
</html>