<!DOCTYPE html>
<head>
  <title>KiAvenir - Accueil</title>
</head>

    <%- include('partials/header') %>

    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 25%; flex-direction: column;">
      <h1 class="text-center fw-bold text-primary">Page d'accueil</h1>
      <h4 class="text-center mt-4">
        <% if (locals.user) { %>
          <div>
            <h4 class="fst-italic">Bienvenue <span class="fw-bold"><%= locals.user.username %></span> !</h4>
          </div>
          N'hésitez pas à visiter les autres pages de notre magnifique site de gestion d'agendas.
          <% } else { %>
            <div class="mb-2">
              Bienvenue sur notre site de gestion d'agendas.
            </div>
            <div>
              Vous pouvez dès à présent <a href="/signin" class="link-underline link-underline-opacity-0"">créer un compte</a> ou <a href="/login" class="link-underline link-underline-opacity-0"">vous connecter</a> pour accéder à toutes les fonctionnalités.
            </div>
        <% } %>
      </h4>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>