/* Responsive adjustments */
canvas#userIconPreview {
    max-width: 100%;
    height: auto;
}
.custom-file {
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.custom-file .file-name {
    padding-left: 5px;
    text-align: center;
}
.custom-file input[type="file"] {
    display: none;
}
.custom-file label {
    cursor: pointer;
}

#hrAccount{
    display: none;
}

/* Modale responsive */
.modal-content {
    top: 20vh !important;
    margin: auto;
}


@media (max-width: 768px) {
    #hrAccount {
        display: block;
    }
    #iconFormDiv {
        border: 0px !important;
    }

    .modal-content {
        position: relative;
        top: 10vh;
        margin: 0 auto;
        width: 90% !important;
    }
}
