/* Reset des styles par défaut */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  height: 100%; /* Assure que le body prend toute la hauteur */
}

/* Conteneur principal pour le calendrier */
#calendar {
  width: 100%;
  max-width: 100%; /* S'adapte à 100% de la largeur de la page */
  height: 80vh; /* Ajuste la hauteur du calendrier */
  margin: 5px auto; /* Centre le calendrier */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour la modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

/* Styles pour les boutons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

button:hover {
  background-color: #0056b3;
}

/* Styles pour les champs de saisie */
.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles pour les titres dans la modale */
h2 {
  margin-bottom: 20px;
}

/* Styles pour le header du calendrier */
.fc-toolbar {
  background-color: #007bff;
  color: #ffffff;
  margin: 0; /* Supprime la marge */
  padding: 10px; /* Ajuste le padding */
  border-radius: 8px 8px 0 0;
}

/* Styles pour les titres et boutons dans le header */
.fc-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid transparent;
  margin: 0 2px; /* Réduit l'espacement entre les boutons */
}

.fc-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Styles pour le calendrier */
.fc-daygrid-day {
  border: 1px solid #e6e6e6;
}

.fc-daygrid-day:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

/* Styles pour les événements */
.fc-event {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.fc-list-event:hover {
  color: #000;
}

.fc-list-event .fc-list-event-dot {
  display: none;
}

.fc-customButton-button i {
  vertical-align: middle;
}
