<% /* global getFlashMessages, notifications*/%>
<head>
    <link rel="stylesheet" href="/css/notifs.css">
    <title>Notifications</title>
</head>
<body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Supprime les notifications après 3 secondes
    const notifications = document.querySelectorAll('.alert-notif');
    notifications.forEach((notification) => {
      setTimeout(() => {
        notification.remove();
      }, 3000); // 3 secondes
    });
  });
</script>

<div class="flash-container">
    <% const messages = getFlashMessages(); %>
    <% if (messages["notifications"]) { %>
        <% messages["notifications"].forEach(msg => { %>
            <div class="alert-notif"><%= msg %></div>
        <% }) %>
    <% } %>
</div>
</body>
