<head>
    <link rel="stylesheet" href="/css/notifs.css">
</head>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const notification = document.querySelector('.alert-notif');
    if (notification) {
      setTimeout(function() {
        notification.remove();
      }, 3000); // .3 secondes
    }
  });
</script>

<% if (notifications && notifications.length > 0) { %>
    <% notifications.forEach(function(message) { %>
        <div class="alert-notif">
            <%= message %>
        </div>
    <% }) %>
<% } %>


