<link rel="stylesheet" href="/css/slidingPanel.css">
<div id="calendar-container">
    <div id="sliding-panel">
        <!-- Contenu de la zone coulissante -->
        <h3>Mes Agendas</h3>
        <ul id="agenda-list">
            <li>Agenda 1</li>
            <li>Agenda 2</li>
            <li>Agenda 3</li>
        </ul>
    </div>
    <div id="calendar" data-agendaid="<%= agenda.agendaId %>"></div>
</div>
