<!DOCTYPE html>
<html lang="fr">
<head>
  <title>KiAvenir - Erreur 403</title>
</head>
<body>
    <% /* global locals, currentPath */ %>
    <%- include('../partials/header') %>

    <div class="container mt-3 fst-italic d-flex" style="justify-content: center; align-items: center; flex-direction: column;">
        <h1 class="text-center fw-bold text-danger">Erreur 403</h1>
        <h2 class="text-center">Vous n'êtes pas autorisé à accéder à cette page.</h2>
        <h3 class="text-center mt-5"><a href="javascript:history.back()">Revenir à la page précédente</a></h3>
        <h3 class="text-center mt-5"><a href="/">Revenir à l'accueil</a></h3>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
