<!DOCTYPE html>
<head>
  <title>KiAvenir - Erreur 404</title>
</head>

    <%- include('../partials/header') %>

    <div class="container fst-italic" style="display: flex; justify-content: center; align-items: center; height: 50%; flex-direction: column;">
        <h1 class="text-center fw-bold text-danger">Erreur 404</h1>
        <h2 class="text-center">Cette page n'existe pas</h2>
    </div>
        
    <%- include('../partials/footer') %>
</body>
</html>