<header>
    <nav>
        <ul id="temp-links">
            <li>
                <h3><a href="/">Accueil</a></h3>
            </li>
            <li>
                <h3><a href="/agenda">Agenda</a></h3>
            </li>
            <li>
                <h3><a href="/signin">S'inscrire</a></h3>
            </li>
        </ul>
    </nav>
</header>
